<%- include('partials/header') %>

<h1 class="mb-4">Risultati Query</h1>

<% if (!results || results.length===0) { %>
    <div class="alert alert-warning">Nessun risultato trovato.</div>
    <% } else { %>
        <a id="new" href="/" class="btn btn-primary mb-4">Nuova Query</a>
        <a id="s3" href="/resultsS3" class="btn btn-warning mb-4">AWS S3 Bucket</a>
        <button id="startUpload" class="btn btn-success mb-4">Upload su S3</button>
        <button id="startUploadParallel" class="btn btn-success mb-4">Upload parallelo su S3</button>

        <div class="mb-3">
            <strong>Totale risultati:</strong>
            <%= results.length %>
        </div>

        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <% fields.forEach(col=> { %>
                        <th><%= col %></th>
                    <% }) %>
                    <th style="width: 30%">Upload</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach(item=> { %>
                    <tr>
                        <% fields.forEach(col=> { %>
                            <td>
                                <%= typeof item[col] === "object" ? JSON.stringify(item[col]) : item[col] %>
                            </td>
                        <% }) %>
                        <td>
                            <div class="progress">
                                <div id="progress-<%= item[gridFsIdField] %>" class="progress-bar" role="progressbar" style="width: 0%" aria-valuemin="0"
                                    aria-valuemax="100">
                                    0%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } %>

            <div id="uploadStatus">
            </div>
            <script>
                let evtSource;
                window.addEventListener('beforeunload', e => {
                    !!evtSource && evtSource.close();
                });
                const newBtn = document.getElementById("new");
                const s3Btn = document.getElementById("s3");
                const startBtn = document.getElementById("startUpload");
                const startParallelBtn = document.getElementById("startUploadParallel");
                const uploadStatus = document.getElementById("uploadStatus");

                async function startUpload(e, parallel) {
                    s3.disabled = true;
                    newBtn.disabled = true;
                    startBtn.disabled = true;
                    startParallelBtn.disabled = true;

                    evtSource = new EventSource(`/api/v1/sse/upload-file${parallel ? "-parallel" : ""}`);

                    evtSource.onmessage = e => {
                        const { id, loaded, total, event, error } = JSON.parse(e.data);
                        if(event && event === "complete") {
                            evtSource.close();
                            s3.disabled = false;
                            newBtn.disabled = false;
                            return;
                        }
                        if(error) {
                            percent = 100;
                        } else {
                            percent = Math.floor((loaded / total) * 100);
                        }

                        const bar = document.getElementById(`progress-${id}`);
                        if (!bar) return;

                        bar.style.width = percent + "%";
                        bar.textContent = error ? "ERROR" : (percent + "%");

                        if (percent === 100) {
                            bar.classList.add(`bg-${error ? "danger" : "success"}`);
                        }
                    };
                }

                startBtn.addEventListener("click", e => startUpload(e, false), { once: true});
                startParallelBtn.addEventListener("click", e => startUpload(e, true), { once: true});
            </script>
            <%- include('partials/footer') %>
